<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../ViewLogic/dashboard.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="../ViewStyles/dashboard.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="logo"><b>Dashboard</b></div>
      <div class="menu">
        <a href="/auth/logout">Logout</a>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container">
      <!-- Left Sidebar -->
      <aside class="sidebar">
        <h2>Subscriptions</h2>
        <ul class="trader-list subscriptions">
          <% for (let subscribedTraderId of user.subscribedTraders) { %> <%
          const trader = traders.find(t => t._id.equals(subscribedTraderId)); %>
          <li>
            <span><%= trader.username %></span>
            <span>$70</span>
          </li>
          <% } %>
        </ul>
      </aside>

      <!-- Main Content Area -->
      <main class="main-content">
        <div class="welcome">
          <h1>Welcome to the Dashboard</h1>
          <p>Hello, <%= user.username %>!</p>
        </div>

        <!-- Search for Traders Form -->
        <!-- <h2>Search for Traders</h2>
        <form action="/traders/search" method="POST">
          <input
            type="text"
            name="searchQuery"
            placeholder="Enter trader name"
          />
          <button type="submit">Search</button>
        </form> -->

        <!-- List of Traders -->
        <h2>Traders</h2>
        <ul class="trader-list">
          <% for (let trader of traders) { %>
          <li>
            <span><%= trader.username %></span>
            <% if (user.subscribedTraders.includes(trader._id)) { %>
            <form action="/user/unsubscribe/<%= trader._id %>" method="POST">
              <button type="submit" class="unsubscribe-button">
                Unsubscribe
              </button>
            </form>
            <% } else { %>
            <form action="/payment/checkout/<%= trader._id %>" method="POST">
              <button type="submit" class="subscribe-button" data-trader-id="<%= trader._id %>">Subscribe</button>
            </form>
            <% } %>
          </li>
          <% } %>
        </ul>
      </main>
    </div>
  </body>
</html>
